<div class="col-md-11 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">Our Wildly Important Goals</div>
		</div>
		<div class="panel-body">
			<ul>
				<li>
					<h3>Maximum utilization of resources/improved service delivery</h3>
				</li>
				<li>
					<h3>Increase in profit margin</h3>
					<p class="mark">cost reduction and/or increase in revenue</p>
				</li>
			</ul>
		</div>
		<div class="panel-footer">
				<%= link_to "Next", "#", class: "btn btn-primary" %>
		</div>
	</div>
</div>


